{% from "./offenderDetails.njk" import offenderDetails %}
{% from "partials/caseload/caseloadTable.njk" import caseloadTable %}

{% macro assessmentCompltedTab(assessmentCompltedCases) %}
    {% set assessmentCompltedRows = [] %}
    {% for case in assessmentCompltedCases %}
        {% set assessmentCompltedRows = (assessmentCompltedRows.push([
            {
                attributes: tableAttributes(case, 'name', loop.index),
                html: offenderDetails(case, loop.index)
            },
            {
                attributes: tableAttributes(case, 'hdced', loop.index),
                html: case.hdced | formatDate('dd MMM yyyy')
            },
            {
                attributes: tableAttributes(case, 'workingDaysToHdced', loop.index),
                text: case.workingDaysToHdced
            },
            {
                attributes: tableAttributes(case, 'lastWorkedOnBy', loop.index),
                text: case.lastUpdateBy
            }
        ]), assessmentCompltedRows) %}
    {% endfor %}
    <h2 class="govuk-heading-l">Assessment complted</h2>
    {{ caseloadTable("Assessment complted", ["Name", "HDCED", "Working days to HDCED", "Last worked on by"], assessmentCompltedRows) }}
{% endmacro %}
