{% from "./offenderDetails.njk" import offenderDetails %}
{% from "partials/caseload/caseloadTable.njk" import caseloadTable %}

{% macro assessmentCompletedTab(assessmentCompletedCases) %}
    {% set assessmentCompletedRows = [] %}
    {% for case in assessmentCompletedCases %}
        {% set assessmentCompletedRows = (assessmentCompletedRows.push([
            {
                attributes: tableAttributes(case, 'name', loop.index),
                html: offenderDetails(case, loop.index)
            },
            {
                attributes: tableAttributes(case, 'hdced', loop.index),
                html: case.hdced | formatDate('dd MMM yyyy')
            },
            {
                attributes: tableAttributes(case, 'workingDaysToHdced', loop.index),
                text: case.workingDaysToHdced
            },
            {
                attributes: tableAttributes(case, 'lastWorkedOnBy', loop.index),
                text: case.lastUpdateBy
            }
        ]), assessmentCompletedRows) %}
    {% endfor %}
    <h2 class="govuk-heading-l">Assessment completed</h2>
    {{ caseloadTable("Assessment completed", ["Name", "HDCED", "Working days to HDCED", "Last worked on by"], assessmentCompletedRows) }}
{% endmacro %}
