{% extends "layout.njk" %}
{% from "partials/assessment/actions.njk" import actions %}
{% from "partials/assessment/personalDetails.njk" import personalDetails %}
{% from "partials/assessment/tasks.njk" import tasks %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "moj/components/banner/macro.njk" import mojBanner %}

{% set pageTitle = applicationName + " - Assess Offender" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if assessmentSummary.status == 'OPTED_OUT' %}
                {{ mojBanner({
                    type: 'success',
                    text: assessmentSummary | toFullName + " has opted out of HDC",
                    iconFallbackText: 'Success',
                    attributes: {
                        "data-qa": "optedOutOfHdcBanner"
                    }
                }) }}
            {% endif %}
            <h1 class="govuk-heading-l">HDC application for {{ assessmentSummary.name }}</h1>
        </div>
        <div class="govuk-grid-column-one-half">
            {{ personalDetails(assessmentSummary) }}
        </div>
        <div class="govuk-grid-column-one-half">
        </div>
        <div class="govuk-grid-column-full">
            {{ tasks('PROBATION_COM', assessmentSummary) }}
        </div>
    </div>
{% endblock %}
