{% from "partials/caseload/caseloadTable.njk" import caseloadTable %}
{% from "partials/offenderName.njk" import offenderName %}

{% macro inactiveApplicationsTab(params) %}
    {% set cases = [] %}
        {% for case in params.cases %}
            {% set cases = (cases.push([
                {
                    attributes: tableAttributes(case, 'name', loop.index),
                    html: offenderName(case, loop.index)
                },
                {
                    attributes: tableAttributes(case, 'hdced', loop.index),
                    html: case.hdced | formatDate('dd MMM yyyy')
                },
                {
                    attributes: tableAttributes(case, 'crd', loop.index),
                    text: case.crd | formatDate('dd MMM yyyy')
                },
                {
                    attributes: tableAttributes(case, 'lastWorkedOnBy', loop.index),
                    text: ''
                },
                {
                    attributes: tableAttributes(case, 'Outcome', loop.index),
                    text: case.status | assessmentStatusToOutcome
                }
            ]), cases) %}
        {% endfor %}
    {{ caseloadTable("Inactive applications", ["Name", "HDCED", "CRD", "Last worked on by", "Outcome"], cases)}}
{% endmacro %}
