{% macro offenderDetails(case, index) %}
    <div class="caseload-offender-name">
        <a id="name-button-{{ index }}" href="{{ case.createLink }}" class="govuk-link govuk-heading-s govuk-!-padding-left-0 govuk-!-margin-bottom-0">{{ case.name }}</a>
        <div class="govuk-hint govuk-!-font-size-16">CRN: {{ case.crn }}</div>
    </div>
{% endmacro %}
