{% extends "layout.njk" %}

{% from "./taskFormBuilder.njk" import taskFormBuilder %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - " + task.name %}

{% block content %}
    <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ task.name }}</h1>

        {% block beforeForm %}
        {% endblock %}

        <form method="POST">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ taskFormBuilder(task) }}
            <div class="govuk-button-group govuk-!-margin-top-6">
                {{ govukButton({
                    text: "Save",
                    attributes: { 'data-qa': 'save' },
                    preventDoubleClick: true
                }) }}
                {{ govukButton({
                    text: "Cancel",
                    classes: "govuk-button--secondary",
                    attributes: { 'data-qa': 'save' },
                    preventDoubleClick: true
                }) }}
            </div>
        </form>

        {% block afterForm %}
        {% endblock %}
    </div>
</div>
{% endblock %}
