{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% macro taskFormBuilder(config, submittedForm, validationErrors) %}
    {% for section in config.sections  %}
            {% if section.header %}
                <h2 class="govuk-heading-m govuk-!-margin-top-8">{{ section.header }}</h2>
            {% endif %}
            {% if section.hintText %}
                <p class="govuk-body">{{ section.hintText }}</p>
            {% endif %}
            {% for question in section.questions %}
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    {{ question.text }}
                </legend>
                {%  if question.hintText %}
                    <div class="govuk-hint">
                        {{ question.hintText | safe }}
                    </div>
                {% endif %}

                {% set input = question.input %}
                {% if input.type == 'RADIO' %}
                    {% set options = [] %}
                    {% for option in input.options %}
                        {% set options = (options.push({
                            text: option.text,
                            value: option.value
                        }), options) %}
                    {% endfor %}

                    {{ govukRadios({
                        name: input.name,
                        value: submittedForm[input.name],
                        items: options,
                        errorMessage: validationErrors | findError(input.name)
                    }) }}
                {% endif %}

                {% if input.type == 'DATE' %}
                    {{ govukDateInput({
                        hint: params.hint,
                        namePrefix: input.name,
                        errorMessage: validationErrors | findError(input.name),
                        items: [
                            {
                                label: 'Day',
                                name: 'day',
                                value: submittedForm[input.name + "-day"],
                                classes: 'govuk-input--width-2'
                            },
                            {
                                label: 'Month',
                                name: 'month',
                                value: submittedForm[input.name + "-month"],
                                classes: 'govuk-input--width-2'
                            },
                            {
                                label: 'Year',
                                name: 'year',
                                value: submittedForm[input.name + "-year"],
                                classes: 'govuk-input--width-4'
                            }
                        ]
                    }) }}
                {% endif %}

                {% if input.type == 'TEXT' %}
                    {{ govukTextarea({
                        name: input.name,
                        value: submittedForm[input.name],
                        errorMessage: validationErrors | findError(input.name)
                    }) }}
                {% endif %}
            {% endfor %}
    {%  endfor %}
{%  endmacro %}
