{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro caseloadTable(caption, headings, data) %}
    {% set tableHeadings = [] %}
    {% for heading in headings %}
        {% set tableHeadings = (tableHeadings.push(
            {
                text: heading,
                attributes: { "aria-sort": "none" }
            }
        ), tableHeadings) %}
    {% endfor %}

    {{ govukTable({
        attributes: {
            'data-module': 'moj-sortable-table'
        },
        caption: caption,
        captionClasses: "govuk-visually-hidden",
        head: tableHeadings,
        rows: data
    }) }}
{% endmacro %}
