{% extends "layout.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/initialChecks/question.njk" import question %}
{% from "partials/offenderSummary.njk" import offenderSummary %}

{% set pageTitle = criterion.questions[0].text + " - " + applicationName %}

{% block content %}
    {% include 'partials/errorSummary.njk' %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ offenderSummary(assessmentSummary.prisonNumber, assessmentSummary.hdced, assessmentSummary.dateOfBirth, assessmentSummary | toFullName) }}
            <form method="POST" id="eligibility-question-form">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <input id="saveType" type="hidden" name="saveType" value="save">
                    {% for criterionQuestion in criterion.questions %}
                        {{ question(criterionQuestion, validationErrors, submittedForm) }}
                    {% endfor %}

                    <div class="govuk-button-group">
                        {{ govukButton({
                            name: "save",
                            value: "save",
                            text: "Save",
                            classes: "govuk-!-margin-right-5"
                        }) }}
                        {{ govukButton({
                            text: "Cancel",
                            href: paths.prison.assessment.initialChecks.eligibilityAndSuitabilityQuestionList | toPath(assessmentSummary),
                            classes: "govuk-button--secondary"
                        }) }}
                        <a id="next-question-link" class="govuk-link govuk-link--no-visited-state" href="#">Save and go to next question</a>
                    </div>
                </form>
        </div>
    </div>
{% endblock %}

{% block pageScripts %}
    <script src="/assets/js/nextEligibilityQuestion.js"></script>
{% endblock %}
