{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "partials/offenderSummary.njk" import offenderSummary %}

{% set pageTitle = "Are you sure you want to resume this application? – " + applicationName %}
{% set backLinkHref = "/" %}¡

{% block content %}
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include 'partials/errorSummary.njk' %}
            {{ offenderSummary(assessment.prisonNumber, assessment.hdced, assessment.dateOfBirth, assessment | toFullName) }}
            <div class="govuk-grid-row govuk-!-margin-top-8">
                <form method="POST">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    {{ govukRadios({
                        name: "resumeApplication",
                        errorMessage: validationErrors | findError('resumeApplication'),
                        hint: {
                            text: 'After resuming, check this person is still eligible and suitable for HDC release.'
                        },
                        fieldset: {
                            legend: {
                                text: "Are you sure you want to resume this application?",
                                classes: "govuk-fieldset__legend--l"
                            }
                        },
                        items: [
                            {
                                value: "Yes",
                                text: "Yes",
                                attributes: {
                                    "data-qa": "resumeApplication"
                                }
                            },
                            {
                                value: "No",
                                text: "No",
                                attributes: {
                                    "data-qa": "dontResumeApplication"
                                }
                            }
                        ]
                    }) }}

                    <div class="govuk-button-group">
                        {{ govukButton({
                            text: "Continue",
                            preventDoubleClick: true,
                            attributes: { 'data-qa': 'continue' }
                        }) }}
                    </div>
                </form>
            </div>
          </div>  
        </div>
    </div>
{% endblock %}
