{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "partials/offenderSummary.njk" import offenderSummary %}
{% from "./addOtherResidentDetails.njk" import addOtherResidentDetails %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set pageTitle = "Add details of residents - " + applicationName %}
{% set backLinkHref = "/" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="addOtherResidentForm" method="POST">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <input type="hidden" name="prisonerName" value="{{ assessmentSummary.name }}">
            {% include 'partials/errorSummary.njk' %}
            {{ offenderSummary(assessmentSummary.prisonNumber, assessmentSummary.hdced, assessmentSummary.dateOfBirth, assessmentSummary.name) }}
            <h1 class="govuk-heading-l govuk-!-margin-top-6">
                Add details of residents
            </h1>
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Preferred address</h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link govuk-link--no-visited-state" href=paths.prison.assessment.curfewAddress.findAddress | toPath(prisonNumber: assessmentSummary.prisonNumber)>Change<span class="govuk-visually-hidden"> preferred address</span></a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                                {{ address.line1 }}<br>
                                {{ address.town }}<br>
                                {{ address.postcode }}<br><br>
                            </dt>
                        </div>
                    </dl>
                </div>
            </div>

    
            {% call govukFieldset({
                legend: {
                    text: "Main occupier",
                    classes: "govuk-fieldset__legend--m",
                    isPageHeading: false
                },
                classes: 'govuk-!-margin-bottom-8 govuk-!-margin-top-8'
            }) %}
                {{ govukCheckboxes({
                    name: "isOffenderMainOccupier",
                    id: "isOffenderMainOccupier",
                    classes: "govuk-checkboxes--small",
                    items: [
                            {
                                value: "true",
                                text: assessmentSummary.name + " is the main occupier"
                            }
                    ]
                }) }}
                <div id="offenderIsNotMainOccupier">
                    {{ govukInput({
                            id: 'residentId',
                            name: 'residentId',
                            value: mainResident.residentId,
                            type: 'hidden',
                            attributes: {
                                'data-qa': 'resident-id'
                            }
                    }) }}
                    {{ govukInput({
                        id: 'forename',
                        label: {
                            text: 'First name'
                        },
                        name: "forename",
                        classes: 'govuk-!-width-one-half',
                        errorMessage: validationErrors | findError('forename'),
                        value: submittedForm.forename | default(mainResident.forename),
                        attributes: {
                            'data-qa': 'resident-forename'
                        }
                    }) }}
                    {{ govukInput({
                        id: 'surname',
                        label: {
                            text: 'Last name'
                        },
                        name: "surname",
                        classes: 'govuk-!-width-one-half',
                        errorMessage: validationErrors | findError('surname'),
                        value:  submittedForm.surname | default(mainResident.surname),
                        attributes: {
                            'data-qa': 'resident-surname'
                        }
                    }) }}
                    {{ govukInput({
                        id: 'phoneNumber',
                        label: {
                            text: 'Phone number'
                        },
                        name: "phoneNumber",
                        classes: 'govuk-!-width-one-half',
                        errorMessage: validationErrors | findError('phoneNumber'),
                        value: submittedForm.phoneNumber |  default(mainResident.phoneNumber)
                    }) }}
                    {{ govukInput({
                        id: 'relation',
                        label: {
                            text: 'Relationship'
                        },
                        name: "relation",
                        classes: 'govuk-!-width-one-half',
                        errorMessage: validationErrors | findError('relation'),
                        value: submittedForm.relation | default(mainResident.relation),
                        attributes: {
                            'data-qa': 'resident-relation'
                        }
                    }) }}
                </div
            {% endcall %}

            
            <div id="otherResidentsContainer" data-module="moj-add-another">
                {% for otherResident in submittedForm.otherResident | default(otherResidents) %}
                    {{ addOtherResidentDetails({ index: loop.index0, otherResident: otherResident, validationErrors: validationErrors, showRemoveBtn: submittedForm.otherResident | default(otherResidents) | length > 1}) }}
                {% else %}
                    {{ addOtherResidentDetails({ index: 0, otherResident: {}, validationErrors: validationErrors, showRemoveBtn: false }) }}
                {% endfor %}

                <div class="moj-button-action govuk-!-margin-top-4">
                    {{ govukButton({
                        text: "Add another resident",
                        classes: "govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4",
                        attributes: { 'data-qa': 'add-another-resident', 'id': 'addAnotherResidentButton' }
                    }) }}
                </div>
            </div>

            <div class="moj-button-action govuk-!-margin-top-8">
                {{ govukButton({
                    text: "Continue",
                    preventDoubleClick: true,
                    attributes: {
                        'data-qa': 'addResidentContinue',
                        'type': 'submit',
                        'name': 'action',
                        'value': 'continue',
                        'id': 'continueButton'
                    }
                }) }}
            </div>
    </div>
</div>
{% endblock %}
