{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "partials/offenderSummary.njk" import offenderSummary %}

{% set pageTitle = "Add details of residents - " + applicationName %}
{% set backLinkHref = "/" %}¡

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% include 'partials/errorSummary.njk' %}
        {{ offenderSummary(assessmentSummary.prisonNumber, assessmentSummary.hdced, assessmentSummary.dateOfBirth, assessmentSummary.name) }}
        <h1 class="govuk-heading-l govuk-!-margin-top-6">
            Add details of residents
        </h1>
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Preferred address</h2>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                        <a class="govuk-link govuk-link--no-visited-state" href=paths.prison.assessment.curfewAddress.findAddress | toPath(prisonNumber: assessmentSummary.prisonNumber)>Change<span class="govuk-visually-hidden"> preferred address</span></a>
                    </li>
                </ul>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__value">
                            {{ address.line1 }}<br>
                            {{ address.town }}<br>
                            {{ address.postcode }}<br><br>
                        </dt>
                    </div>
                </dl>
            </div>
        </div>
        <form method="POST">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {% call govukFieldset({
                legend: {
                    text: "Main occupier",
                    classes: "govuk-fieldset__legend--m",
                    isPageHeading: false
                }
            }) %}
                {{ govukInput({
                    id: 'forename',
                    label: {
                        text: 'First name'
                    },
                    name: "forename",
                    autocomplete: "given-name",
                    classes: 'govuk-!-width-one-half',
                    errorMessage: validationErrors | findError('forename'),
                    value: submittedForm.forename,
                    attributes: {
                        'data-qa': 'resident-forename'
                    }
                }) }}
                {{ govukInput({
                    id: 'surname',
                    label: {
                        text: 'Last name'
                    },
                    name: "surname",
                    autocomplete: "family-name",
                    classes: 'govuk-!-width-one-half',
                    errorMessage: validationErrors | findError('surname'),
                    value: submittedForm.surname,
                    attributes: {
                        'data-qa': 'resident-surname'
                    }
                }) }}
                {{ govukInput({
                    id: 'phoneNumber',
                    label: {
                        text: 'Phone number'
                    },
                    name: "phoneNumber",
                    autocomplete: "tel-national",
                    classes: 'govuk-!-width-one-half',
                    errorMessage: validationErrors | findError('phoneNumber'),
                    value: submittedForm.phoneNumber
                }) }}
                {{ govukInput({
                    id: 'relation',
                    label: {
                        text: 'Relation'
                    },
                    name: "relation",
                    classes: 'govuk-!-width-one-half',
                    errorMessage: validationErrors | findError('relation'),
                    value: submittedForm.relation,
                    attributes: {
                        'data-qa': 'resident-relation'
                    }
                }) }}
                {{ govukDateInput({
                    id: "dateOfBirth",
                    namePrefix: "date-of-birth",
                    fieldset: {
                        legend: {
                            text: "Date of birth (optional)",
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    hint: {
                        text: "For example, 31 3 1980"
                    },
                    errorMessage: validationErrors | findError('dateOfBirth')
                }) }}
                {{ govukInput({
                    id: 'age',
                    label: {
                        text: 'Age'
                    },
                    name: "age",
                    classes: 'govuk-input govuk-input--width-3',
                    errorMessage: validationErrors | findError('age'),
                    value: submittedForm.age,
                    attributes: {
                        'data-qa': 'resident-age'
                    }
                }) }}
                <div class="moj-button-action govuk-!-margin-top-4">
                    {{ govukButton({
                        text: "Add another resident",
                        classes: "govuk-button--secondary"
                    }) }}
                </div>
                <div class="moj-button-action govuk-!-margin-top-4">
                    {{ govukButton({
                        text: "Continue",
                        preventDoubleClick: true,
                        attributes: {
                            'data-qa': 'addResidentContinue'
                        }
                    }) }}
                </div>
            {% endcall %}
        </form>
    </div>
</div>
{% endblock %}
