{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "partials/assessment/checkAddressSummary.njk" import checkAddressSummary %}

{% set pageTitle = applicationName + " - Check curfew addresses or CAS areas" %}
{% set preferredAddress = checkRequestsForAssessmentSummary | find('preferencePriority', 'FIRST') %}
{% set secondAddress = checkRequestsForAssessmentSummary | find('preferencePriority', 'SECOND') %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Check curfew addresses or CAS areas</h1>
                {{ govukInsetText({
                    html: "Address and risk checks must be completed by dd MMM YYYY.
                    <br>You can <a href='#'>report a delay to other people</a> working on this application."
                }) }}
                <h2 class="govuk-heading-m">Proposed curfew addresses</h2>
                {{ checkAddressSummary({
                    prisonNumber: prisonNumber,
                    title: "Preferred address",
                    addressCheckRequest: preferredAddress,
                    displayAction: true
                }) }}
                {% if secondAddress %}
                    {{ checkAddressSummary({
                        prisonNumber: prisonNumber,
                        title: "Second address",
                        addressCheckRequest: secondAddress,
                        displayAction: true
                    }) }}
                {% endif %}
                {{ govukButton({
                    text: "Return to application overview",
                    href: paths.probation.assessment.home | toPath({ prisonNumber: prisonNumber }),
                    preventDoubleClick: true,
                    classes: "govuk-button--secondary",
                    attributes: { "data-qa": "return-to-application-overview" }
                }) }}
            </div>
        </div>
    </div>
{% endblock %}
