{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/offenderSummary.njk" import offenderSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}


{% set pageTitle = "Do you need to enter any more information? – " + applicationName %}
{% set backLinkHref = "/" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% include 'partials/errorSummary.njk' %}
        {{ offenderSummary(assessmentSummary.prisonNumber, assessmentSummary.hdced, assessmentSummary.dateOfBirth, assessmentSummary | toFullName) }}
        {% set addMoreInfo %}
            {{ govukCharacterCount({
                name: "addMoreInfo",
                id: "add-more-info",
                errorMessage: validationErrors | findError('addMoreInfo'),
                value: submittedForm.addMoreInfo,
                maxlength: 1000,
                label: {
                    text: "Add more information",
                    isPageHeading: true
                }
            }) }}
        {% endset -%}
        <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ govukRadios({
                id: "more-info-required-check",
                idPrefix: "radio-option",
                name:  "moreInfoRequiredCheck",
                value: submittedForm.moreInfoRequiredCheck,
                fieldset: {
                    legend: {
                        text: "Do you need to enter any more information?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                hint: {
                    html: "For example, anything the probation practitioner might need to know about this person’s choice."
                },
                items: [
                    {
                        value: "yes",
                        text: "Yes",
                        conditional: {
                            html: addMoreInfo
                        }
                    },
                    {
                        value: "no",
                        text: "No"
                    }
                ],
                errorMessage: errors | findError("moreInfoRequiredCheck")
            }) }}

            {{ govukButton({
                text: "Continue",
                preventDoubleClick: true,
                attributes: { 'data-qa': 'continue' }
            }) }}
        </form>
    </div>
</div>
{% endblock %}
