{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "partials/offenderSummary.njk" import offenderSummary %}

{% set pageTitle = "Select an address - " + applicationName  %}
{% set backLinkHref = "/" %}¡

{% block content %}
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="POST">
                {% include 'partials/errorSummary.njk' %}
                {{ offenderSummary(assessmentSummary.prisonNumber, assessmentSummary.hdced, assessmentSummary.dateOfBirth, assessmentSummary | toFullName) }}
                <h1 class="govuk-heading-l govuk-!-margin-top-6">
                    Select an address
                </h1>
                <p class="govuk-body">
                    {{ foundAddresses.length }} addresses found for {{ formattedSearchQuery }}. <a class="govuk-link govuk-link--no-visited-state" href="{{ findAddressUrl }}">Search again</a>
                </p>
                {% set addresses = [] %}
                {% for address in foundAddresses %}
                    {% set addresses = (addresses.push({
                        text: address.firstLine + ", " + address.town + ", " + address.postcode,
                        value: address.uprn,
                        attributes: {
                            "data-qa": "address-" + loop.index
                        }
                    }), addresses) %}
                {% endfor %}

                {{ govukRadios({
                    idPrefix: "radio-option",
                    name: "selectedAddressUprn",
                    errorMessage: validationErrors | findError('selectedAddressUprn'),
                    items: addresses
                }) }}

                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {{ govukButton({
                    text: "Use this address",
                    preventDoubleClick: true,
                    attributes: {
                        "data-qa": "useThisAddress"
                    }
                }) }}
            </form>

        </div>
      </div>
    </div>
{% endblock %}
