{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{%  macro actions(optOutLink) %}
    {% set actions = [
        {
            key: { html: "<a class='govuk-link govuk-link--no-visited-state' href=" + optOutLink + ">Opt in/out</a>" },
            value: { html: '' }
        }
    ]
    %}

    {{ govukSummaryList({
        attributes: { id: 'actions' },
        card: {
            title: {
            text: "Actions"
            }
        },
        rows: actions
    }) }}
{% endmacro %}