{% from "govuk/components/button/macro.njk" import govukButton %}

    {%  macro checkAddressSummary(params) %}
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">{{ params.title }}</h2>
                {% if params.addressCheckRequest.status === 'UNSUITABLE' %}
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            <span class="moj-badge moj-badge--black moj-badge--large address-check-status">Unsuitable</span>
                        </li>
                    </ul>
                {% endif %}
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__value">
                            {{ params.addressCheckRequest.address.firstLine }}<br>
                            {{ params.addressCheckRequest.address.town }}<br>
                            {{ params.addressCheckRequest.address.postcode }}
                            {% if params.displayAction %}
                                <br><br>
                                {% if params.addressCheckRequest.status === 'UNSUITABLE' %}
                                    <a href="#" class="govuk-link govuk-link--no-visited-state">Edit checks</a>
                                {% else %}
                                    {{ govukButton({
                                        text: "Start checks",
                                        href: paths.probation.assessment.curfewAddress.addressCheckTasklist | toPath({ prisonNumber: params.prisonNumber, checkRequestId: params.addressCheckRequest.requestId | string }),
                                        preventDoubleClick: true,
                                        attributes: {
                                            "data-qa": "address-start-checks"
                                        }
                                    }) }}
                                {% endif %}
                            {% endif %}
                        </dt>
                    </div>
                </dl>
            </div>
        </div>
    {% endmacro %}
