{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{%  macro personalDetails(params) %}
    {% set personalDetails = [
            {
                key: { text: "Name" },
                value: { text: params | toFullName }
            },
            {
                key: { text: "Prison Number" },
                value: { text: params.prisonNumber }
            },
            {
                key: {  text: "Main Offence" },
                value: { text: params.mainOffense }
            },
            {
                key: { text: "HDCED" },
                value: { html: params.hdced | formatDate('dd MMM yyyy') }
            },
            {
                key: { text: "CRD" },
                value: { html: params.crd | formatDate('dd MMM yyyy', 'not found')}
            },
            {
                key: { text: "Location" },
                value: { text: params.location }
            },
            {
                key: {  text: "Cell number" },
                value: { text: params.cellLocation }
            }
    ]
    %}

    {{ govukSummaryList({
            card: {
                title: {
                text: "Personal details"
                }
            },
            rows: personalDetails
    }) }}
{% endmacro %}