{% extends "layout.njk" %}
{% from "partials/assessment/actions.njk" import actions %}
{% from "./macro/personalDetails.njk" import personalDetails %}
{% from "./macro/auditDetails.njk" import auditDetails %}


{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "moj/components/banner/macro.njk" import mojBanner %}
{% from "./macro/assessmentsList.njk" import assessmentsList %}
{% from "./macro/currentAssessmentDates.njk" import currentAssessmentDates %}

{% set pageTitle = "Application overview - " + applicationName %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">HDC application for {{ offender | toFullName  }}</h1>
        </div>
        <div class="govuk-grid-column-full">
            <div class="govuk-grid-column-one-half">
                {{ personalDetails(offender, currentAssessment) }}
                {{ currentAssessmentDates(currentAssessment) }}
            </div>
            <div class="govuk-grid-column-one-half">
                {{ auditDetails(offender) }}
            </div>
        </div>
        {% if assessments %}
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-l">Select an Assessment</h1>
                    {{ assessmentsList(assessments, prisonNumber) }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
