{% extends "layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "./macro/offenderSearchResults.njk" import offenderSearchResults %}
{% set pageTitle = "Search for the required offender - " + applicationName %}
{% set backLinkHref = "/support" %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Search for offenders</h1>
        </div>
        <div class="moj-search govuk-grid-column-two-thirds govuk-!-margin-bottom-8">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {{ govukInput({
                    label: {
                        text: "Type an prison number or crn number",
                        classes: "moj-search__label govuk-!-font-weight-bold"
                    },
                    classes: "moj-search__input",
                    attributes: {
                        "data-qa": "searchStringInput"
                    },
                    id: "searchOffenderQuery",
                    name: "searchOffenderQuery",
                    errorMessage: validationErrors | findError('searchOffenderQuery')
                }) }}
                <button class="govuk-button moj-search__button" data-module="govuk-button" data-qa="searchOffender">
                    Search
                </button>
            </form>
        </div>
    </div>
    {% if offenderResults %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l">Select an offender</h1>
                {{ offenderSearchResults(offenderResults) }}
            </div>
        </div>
    {% endif %}
{% endblock %}