.urgent-highlight {
  border-left: 5px solid #d4351c;
  font-weight: bold;
  padding-left: 5px;
  display: block;
}

.urgent-highlight-message {
  color: #0b0c0c;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
}
