{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% if criteria.overallStatus == 'ELIGIBLE' %}
    {% set html %}
        <p data-qa="bannerHeading" class="govuk-notification-banner__heading">
        {{ assessmentSummary | toFullName }} is eligible and suitable for HDC
        </p>
        <p>
            Assessment completed by {{ completedBy }} at HMP {{ completedAt }} on {{ completedOn | formatDate('dd MMM yyyy') }}
        </p>
    {% endset %}
    {{ govukNotificationBanner({ html: html }) }}
{% endif %}

{% if criteria.overallStatus == 'INELIGIBLE' %}
    {% set html %}
        <p data-qa="bannerHeading" class="govuk-notification-banner__heading">
        {{ assessmentSummary | toFullName }} is ineligible for HDC
        </p>
        <p>
            Assessment completed by {{ completedBy }} at HMP {{ completedAt }} on {{ completedOn | formatDate('dd MMM yyyy') }}
        </p>
        <p>
            Result: <span data-qa="failureType">{{ criteria.failureType | title }}</span><br/>
            Reason: <span data-qa="failureReasons">{{ criteria.failedCheckReasons }}</span>
        </p>
    {% endset %}
    {{ govukNotificationBanner({ html: html }) }}
{% endif %}
