{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% if criteria.overallStatus == 'ELIGIBLE' %}
    {% set html %}
        <p data-qa="bannerHeading" class="govuk-notification-banner__heading">
        {{ assessmentSummary | toFullName }} is eligible for HDC
        </p>
        <p>    
            Assessment completed by XXXXX at HMP XXXXX on XX XXX XXXX
        </p>
    {% endset %}
    {{ govukNotificationBanner({ html: html }) }}
{% endif %}

{% if criteria.overallStatus == 'INELIGIBLE' %}
    {% set html %}
        <p data-qa="bannerHeading" class="govuk-notification-banner__heading">
        {{ assessmentSummary | toFullName }} is ineligible for HDC
        </p>
        <p>    
            Assessment completed by XXXXX at HMP XXXXX on XX XXX XXXX
        </p>
        <p>
            Result: {{ 'Ineligible' if criteria.eligibilityStatus == 'INELIGIBLE' else 'Unsuitable' }}</br>
            Reason: {{ criteria.eligibility | filter('status', 'INELIGIBLE') | attr('taskName') }}     
        </p>
    {% endset %}
    {{ govukNotificationBanner({ html: html }) }}
{% endif %}
