{% macro assessmentsLink(offender, index) %}
    <a id="name-button-{{ index }}" href="/support/offender/{{ offender.prisonNumber }}/assessments" class="govuk-link govuk-link--no-visited-state">Assessments</a>
{% endmacro %}