{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{%  macro currentAssessmentDates(currentAssessment) %}
    {% set dateDetails = [
        {
            key: { text: "Sentence Start Date" },
            value: { html: currentAssessment.sentenceStartDate | formatDate('dd MMM yyyy') }
        },
        {
            key: { text: "HDCED" },
            value: { html: currentAssessment.hdced | formatDate('dd MMM yyyy') }
        },
        {
            key: { text: "CRD" },
            value: { html: currentAssessment.crd | formatDate('dd MMM yyyy') }
        }
    ]
    %}

    {% set dateDetailsNoNulls = [] %}
    {% for dateDetail in dateDetails %}
        {% if dateDetail.value.html %}
            {% set dateDetailsNoNulls = (dateDetailsNoNulls.push(dateDetail), dateDetailsNoNulls) %}
        {% endif %}
    {% endfor %}

    {{ govukSummaryList({
            card: {
                title: {
                    text: "Current Assessment Dates"
                }
            },
            rows: dateDetailsNoNulls
    }) }}
{% endmacro %}