{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{%  macro personalDetails(params) %}
    {% set personalDetails = [
        {
            key: { text: "Name" },
            value: { text: params | toFullName }
        },
        {
            key: { text: "Prison Number" },
            value: { text: params.prisonNumber }
        },
        {
            key: { text: "CRN" },
            value: { text: params.crn }
        },
        {
            key: { text: "DOB" },
            value: { html: params.dateOfBirth | formatDate('dd MMM yyyy') }
        }
    ]
    %}

    {{ govukSummaryList({
            card: {
                title: {
                    text: "Personal details"
                },
                actions: {
                    items: [
                        {
                            text: "See full DPS profile",
                            href: dpsPrisonerProfileUrl + "/save-backlink?service=assess-for-early-release&returnPath=/omu/application-overview/" + params.prisonNumber + "&redirectPath=/prisoner/" + params.prisonNumber,
                            attributes: {
                                target: '_blank'
                            }
                        }
                    ]
                }
            },
            rows: personalDetails
    }) }}
{% endmacro %}