{% from "partials/offenderName.njk" import offenderName %}
{% from "partials/caseload/caseloadTable.njk" import caseloadTable %}

{% macro readyForReleaseTab(readyForReleaseCases) %}
    {% set readyForReleaseRows = [] %}
    {% for case in readyForReleaseCases %}
        {% set readyForReleaseRows = (readyForReleaseRows.push([
            {
                attributes: tableAttributes(case, 'name', loop.index),
                html: offenderName(case, loop.index)
            },
            {
                attributes: tableAttributes(case, 'probationPractitioner', loop.index),
                text: case.probationPractitioner
            },
            {
                attributes: tableAttributes(case, 'hdced', loop.index),
                html: case.hdced | formatDate('dd MMM yyyy')
            },
            {
                attributes: tableAttributes(case, 'workingDaysToHdced', loop.index),
                text: case.workingDaysToHdced
            },
            {
                attributes: tableAttributes(case, 'lastWorkedOnBy', loop.index),
                text: case.lastUpdateBy
            }
        ]), readyForReleaseRows) %}
    {% endfor %}
    <h2 class="govuk-heading-l">Ready for release</h2>
    {{ caseloadTable("Ready for release", ["Name", "Probation Practitioner", "HDCED", "Working days to HDCED", "Last worked on by"], readyForReleaseRows) }}
{% endmacro %}
