{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "partials/offenderName.njk" import offenderName %}
{% from "partials/caseload/caseloadTable.njk" import caseloadTable %}

{% macro toWorkOnByYouTab(toWorkOnByYouCases) %}
    {% set toWorkOnByYouRows = [] %}
    {% for case in toWorkOnByYouCases %}

        {% if case.taskOverdueOn | isTaskOverdue %}
            {% set task = '<span class="urgent-highlight">'+ +'</span><span class="urgent-highlight urgent-highlight-message">Overdue on '+ case.taskOverdueOn | datetimeToDateShort +'</span>' %}
        {% else %}
            {% set task = '' %}
        {% endif %}

        {% set toWorkOnByYouRows = (toWorkOnByYouRows.push([
            {
                attributes: tableAttributes(case, 'name', loop.index),
                html: offenderName(case, loop.index)
            },
            {
                attributes: tableAttributes(case, 'pom', loop.index),
                text: ''
            },
            {
                attributes: tableAttributes(case, 'hdced', loop.index),
                html: case.hdced | formatDate('dd MMM yyyy')
            },
            {
                attributes: tableAttributes(case, 'workingDaysToHdced', loop.index),
                text: case.workingDaysToHdced
            },
            {
                attributes: tableAttributes(case, 'lastWorkedOnBy', loop.index),
                text: ''
            },
            {
                attributes: tableAttributes(case, 'task', loop.index),
                text: case.currentTask
            }
        ]), toWorkOnByYouRows) %}
    {% endfor %}
    <h2 class="govuk-heading-l">To work on by you</h2>
    {{ caseloadTable("Caseload to work on by you", ["Name", "POM", "HDCED", "Working days to HDCED", "Last worked on by", "Task"], toWorkOnByYouRows) }}
{% endmacro %}
