{% from "partials/offenderName.njk" import offenderName %}
{% from "partials/caseload/caseloadTable.njk" import caseloadTable %}

{% macro withProbationTab(params) %}
    {% set withProbationRows = [] %}
    {% for case in params.withProbationCases %}
        {% set withProbationRows = (withProbationRows.push([
            {
                attributes: tableAttributes(case, 'name', loop.index),
                html: offenderName(case, loop.index)
            },
            {
                attributes: tableAttributes(case, 'probationPractitioner', loop.index),
                html: case.probationPractitioner
            },
            {
                attributes: tableAttributes(case, 'hdced', loop.index),
                html: case.hdced | formatDate('dd MMM yyyy')
            },
            {
                attributes: tableAttributes(case, 'workingDaysToHdced', loop.index),
                text: case.workingDaysToHdced

            },
            {
                attributes: tableAttributes(case, 'lastWorkedOnBy', loop.index),
                text: case.lastUpdateBy
            },
            {
                attributes: tableAttributes(case, 'task', loop.index),
                text: case.currentTask
            }
        ]), withProbationRows) %}
    {% endfor %}    
    <h2 class="govuk-heading-l">With probation</h2>
    {{ caseloadTable("with probation", ["Name", "Probation practitioner", "HDCED", "Working days to HDCED", "Last worked on by", "Task"], withProbationRows) }}
{% endmacro %}
