{%  macro removeAddressCheckRequestLink(prisonNumber, requestId) %}
    {{ paths.prison.assessment.enterCurfewAddressOrCasArea.deleteCheckYourAnswers | toPath({
        checkRequestId: requestId | string,
        prisonNumber: prisonNumber
    }) }}
{% endmacro %}
