{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "partials/offenderSummary.njk" import offenderSummary %}

{% set pageTitle = "Does this person want to be considered for HDC? - " + applicationName %}
{% set backLinkHref = "/" %}

{% block content %}
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include 'partials/errorSummary.njk' %}
            {{ offenderSummary(assessment.prisonNumber, assessment.hdced, assessment.dateOfBirth, assessment.name) }}
            <h1 class="govuk-heading-l govuk-!-margin-top-6">
                Enter curfew address or CAS area
            </h1>
            <p class="govuk-body">
                Download the <a href="/case-overview#forms?" class="govuk-link govuk-link--no-visited-state">address form</a> for this person to record where they could live.
            </p>
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {{ govukRadios({
                    idPrefix: "considerForHdc",
                    name: "considerForHdc",
                    fieldset: {
                        attributes: {
                            id: 'answer'
                        },
                        legend: {
                            text: "Does this person want to be considered for HDC?",
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    errorMessage:  validationErrors | findError('considerForHdc'),
                    items: [
                        {
                            value: "yes",
                            text: "Yes – enter curfew address or CAS area"
                        },
                        {
                            value: "no",
                            text: "No, they want to opt out",
                            attributes: {
                                "data-qa": "theyWantToOptOutRadio"
                            }
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Continue",
                    preventDoubleClick: true,
                    attributes: { 'data-qa': 'continue' }
                }) }}
            </form>
        </div>
      </div>  
    </div>
{% endblock %}
