{% extends "layout.njk" %}
{% from "../../partials/card.njk" import card %}

{% set bodyAttributes = { "data-page": "support-home" } %}
{% set pageTitle = applicationName + " - Support Home" %}
{% set backLinkHref = "/" %}

{% block content %}
    <div class="grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Assess For Early Release support</h1>
            <div class="govuk-grid-column-one-third card-group__item">
                {{ card({
                    "id": "supportCard",
                    "href": paths.support.showPaths | toPath(),
                    "clickable": "true",
                    "heading": "Show paths",
                    "description": "Show currently implemented paths in the application."
                }) }}
            </div>
            <div class="govuk-grid-column-one-third card-group__item">
                {{ card({
                    "id": "supportOffemderSearch",
                    "href": paths.support.offender.supportOffenderSearch | toPath(),
                    "clickable": "true",
                    "heading": "Offender search",
                    "description": "Search for offender"
                }) }}
            </div>
        </div>
    </div>
{% endblock %}
