{% extends "../../partials/layout.njk" %}
{% from "../../partials/card.njk" import card %}

{% set pageTitle = applicationName + " - Support Home" %}
{% set backLinkHref = "/" %}

{% block content %}
    <div class="grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Assess For Early Release support</h1>
        </div>
    </div>
{% endblock %}

{% block pageScripts %}
    <script src="/assets/js/card.js"></script>
{% endblock %}
