{% extends "layout.njk" %}
{% from "partials/card.njk" import card %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% set bodyAttributes = { "data-page": "home" } %}

{% block content %}
    <div class="grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Assess For Early Release</h1>
            <div class="govuk-grid-row card-group">

                {% if shouldShowSupportCard %}
                    <div class="govuk-grid-column-one-third card-group__item">
                        {{ card({
                            "id": "supportCard",
                            "href": "/support",
                            "clickable": "true",
                            "heading": "Support",
                            "description": "View details about an offender or staff member to help with support."
                        }) }}
                    </div>
                {% endif %}

                {% if shouldShowAssessForHDCCard %}
                    <div class="govuk-grid-column-one-third card-group__item">
                        {{ card({
                            "id": "assessForHDCCard",
                            "href": '/prison/caseload',
                            "clickable": "true",
                            "heading": "Assess for HDC",
                            "description": "View assessment and assess offender."
                        }) }}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
